/* typografi implementering */
@font-face {
    font-family: radarfont;
    src: url(intrebol.ttf);
}

/* Variabler */
:root{
    --pink: #ff00ce;
    --dyblilla: #210456;
    --lilla: #9f13cc;
    --gul: #fee737;
    --tyrkis: #04f0d9;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: radarfont;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

/********************************************************PC**************************************/
/*skjuler knap til tlf på pc og tablet*/
.storeknapmenuertekst3{
    display: none;
}

/*skjuler event til tlf på pc og tablet*/
.featured-event2{
    display: none;
}

/*baggrundsbillede slenderbodies*/ 
body{
    background-image: url(../img/slenderbodiesbaggrund.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(33, 4, 86, 0.9) 0%,
        rgba(33, 4, 86, 0.7) 10%,
        rgba(33, 4, 86, 0.4) 20%, 
        rgba(33, 4, 86, 0.1) 35%,
        rgba(0, 0, 0, 0) 100%   
    );
    z-index: 1;
    pointer-events: none;
}

/*header over gradient*/
header {
    position: relative;
    z-index: 3; 
}

/*overskift redigering*/
.slenderbodiesoverskrift {
    color: var(--pink);
    font-size: calc(8vw + 1rem);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
    text-shadow: -4px 4px var(--gul), -8px 8px var(--tyrkis);
    margin-top: 80px;
    position: relative;
    z-index: 2;
}

/*små knapmenuer redigering*/
.knapper {
    display: flex;
    gap: 5%;
    justify-content: center; 
    align-items: center;
    position: relative; 
    z-index: 1; 
}

.knaptekster {
    background-color: var(--tyrkis);
    color: var(--pink);
    box-shadow: -5px 5px 0 var(--dyblilla);
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 10vw;
    font-size: 2vw;
    margin-top: -110px;
    cursor: pointer;
    position: relative;
    z-index: 3; 
}

.knaptekster:hover{
    color: var(--tyrkis);
    background-color: var(--pink);
}

/*storeknapmenuer redigering*/
.storeknapmenuer {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    position: relative; 
    z-index: 2; 
}

.storeknapmenuertekst {
    background-color: var(--dyblilla);
    color: var(--pink);
    padding-top: 12vw;
    padding-bottom: 12vw;
    width: 30vw;
    font-size: 3.5vw;
    cursor: pointer;
    margin-top: 3vw;
    position: relative;
    z-index: 3; 
    margin-bottom: 5vw;
}

.storeknapmenuertekst2{
    background-color: var(--dyblilla);
    color: var(--pink);
    padding-top: 12vw;
    padding-bottom: 12vw;
    width: 30vw;
    font-size: 3.5vw;
    cursor: pointer;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.storeknapmenuertekst:hover, .storeknapmenuertekst2:hover{
    color: var(--dyblilla);
    background-color: var(--pink);
}

/*andensektion redigering*/
.event-container {
    display: flex;
    width: 100%;
    background-color: var(--dyblilla);
}

/* Event List */
.event-list {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.event-item {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-top: 1vw;
    margin-left: 4vw;
    margin-top: 4vw;
}

.event-date {
    background-color: var(--tyrkis);
    color: var(--pink);
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 2vw;
    text-align: center;
    box-shadow: -5px 5px var(--pink);
}

.event-info h2 {
    margin: 0;
    font-size: 2vw;
    color: var(--pink);
}

.event-info p {
    margin: 5px 0 0;
    font-size: 1.5vw;
    color: var(--pink);
    font-family: "Oxanium", serif;
}

/* Featured Event */
.featured-event {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 0;
}

.featured-content img {
    width: 80%;
    height: auto;
    box-shadow: -8px 8px var(--pink);
    margin-top: 12vw;
}

.featured-content h1 {
    margin-top: 15px;
    color: var(--pink);
    font-size: 5vw;
    text-shadow: -3px 3px var(--gul), -6px 6px var(--tyrkis);
}

footer{
    padding-top: -80px;
}


/*******************************************tilpasning på mindre pc skærme********************************************/
@media only screen and (max-width: 1135px){
    
    .storeknapmenuertekst{
        margin-top: 1vw;
    }

    .storeknapmenuertekst2{
        margin-top: 1vw;
    }
}

@media only screen and (max-width: 918px){
    .storeknapmenuertekst{
        margin-top: 0.3vw;
    }

    .storeknapmenuertekst2{
        margin-top: 0.3vw;
    }
}

/********************************************TABLET************************************/
@media only screen and (max-width: 768px){

/*overskift tilpasning*/
    .slenderbodiesoverskrift{
        font-size: 13vw;
        text-wrap: nowrap;
        padding-right: 30px;
    }

/*små knapmenuer redigering*/
    .knaptekster{
        padding-top: 3vw;
        padding-bottom: 3vw;
        width: 15vw;
        font-size: 3vw;
        margin-top: -90px;
    }

    .knapper {
        gap: 5%;
    }

/*storeknapmenuer skjult på tablet*/
    .storeknapmenuer{
        display: none;
    }
}

/*skriftstørrelses redigering på tablet*/
.event-info h2{
    font-size: 3vw;
}

.event-info p{
    font-size: 2vw;
}
    
/**************************************TELEFON*******************************************/
@media only screen and (max-width: 480px){

    /*overskift tilpasning*/
        .slenderbodiesoverskrift{
            font-size: 13vw;
            text-wrap: nowrap;
            padding-right: 30px;
            padding-bottom: 5%;
        }

    /*små knapmenuer redigering*/
        .knaptekster{
            padding-top: 4vw;
            padding-bottom: 4vw;
            width: 95%;
            font-size: 6vw;
            margin-top: 8px;
            text-align: start;
            padding-left: 5%;
        }
    
        .knapper {
            display: block;
        }
    
    /*storeknapmenuer skjult på tlf*/
    .storeknapmenuer{
        display: none;
    }

/*layout skift på anden sektion*/
.event-container, .featured-event{
    display: block;
}

/*redigering af events på tlf*/
.event-list{
  width: 90%;
  align-items: center;
  padding-top: 7vw;
}

.event-item h2{
    font-size: 5vw;
}

.event-item p{
    font-size: 3vw;
}

.event-date{
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 3vw;
    text-align: center;
    margin-left: 7vw;
}

.featured-event{
    display: none;
}

.featured-event2{
    display: block;
    background-color: var(--dyblilla);
    padding-top: 10vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.featured-event2 img{
    width: 80%;
    align-items: center;
    margin-left: 1vw;
    height: auto;
    box-shadow: -8px 8px var(--pink);
}

.featured-content2 h1 {
    margin-top: 15px;
    color: var(--pink);
    font-size: 10vw;
    text-shadow: -3px 3px var(--gul), -6px 6px var(--tyrkis);
    margin-bottom: -120px;
}
    }