/* typografi implementering */
@font-face {
    font-family: radarfont;
    src: url(intrebol.ttf);
}

/* Variabler */
:root{
    --pink: #ff00ce;
    --dyblilla: #210456;
    --lilla: #9f13cc;
    --gul: #fee737;
    --tyrkis: #04f0d9;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: radarfont;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

/******************************************************PC*************************************************/

/*baggrundsbillede i header*/
body{
    background-image: url(../img/baggrundsbilledeto.jpg);
    background-repeat: no-repeat;
    width: 100vw;
}

/*redigering af første overskift hvorfor støt radar*/
.hvorforstoedt{
    color: var(--pink);
    text-align: left;
    font-size: 2.5vw;
    margin-left: 3%;
    margin-top: 15%;
    padding-top: 2%;
}

/* tilføjer den lilla baggrund over hele main*/
main{
    background-color: var(--dyblilla);
}

/*redigering af teksten til hvorfor stødt*/
.tekst{
    width: 80%;
    color: var(--pink);
    text-align: justify;
    font-family: "Oxanium", serif;
    margin-top: -10%;
    margin-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    line-height: 150%;
    font-weight: 100;
}

/*redigering af anden overskrift*/
.maaderstoedt h1{
    text-align: left;
    font-size: 2.5vw;
    margin-top: 6%;
    margin-left: 3%;
}

/*redigering af infographics*/
.infographic-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
}

.infographics {
    display: flex;
    overflow: hidden;
    width: 90%; /* Restricts the visible area */
    justify-content: space-evenly;
    align-items: baseline;
}

.infographic-item {
    text-align: center;
    padding: 10px;
}

.infographic-item img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
}

.infographic-item p {
    font-size: 3vw;
}

.infographics p{
    color: var(--tyrkis);
    font-family: "Oxanium", serif;
    margin-top: 10%;
}

/*pile redigering*/
.arrow {
    background: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrow.prev {
    left: 2%;
    color: var(--tyrkis);
}

.arrow.next {
    right: 2%;
    color: var(--tyrkis);
}

.arrow.prev:hover, .arrow.next:hover{
    color: var(--pink);
}