/* typografi implementering */
@font-face {
    font-family: radarfont;
    src: url(intrebol.ttf);
}

/* Variabler */
:root{
    --pink: #ff00ce;
    --dyblilla: #210456;
    --lilla: #9f13cc;
    --gul: #fee737;
    --tyrkis: #04f0d9;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: radarfont;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

/****************************************************PC**********************************************/
 body{
    background-image: url(../img/slenderbodiesbaggrund.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*overskift redigering*/
.slenderbodiesoverskrift {
    color: var(--pink);
    font-size: calc(6vw + 1rem); /* Responsive font size */
    width: 80%; /* Fill 80% of the screen width */
    margin: 0 auto; /* Center the text horizontally */
    text-align: center; /* Optional: Center the text itself */
    word-wrap: break-word; /* Handle long words gracefully */
    text-shadow: -4px 4px var(--gul), -8px 8px var(--tyrkis);
}

/*knap redigering*/
.knapper {
    display: flex;
    gap: 2%;
    justify-content: center; 
    align-items: center;
}

.knaptekster{
    background-color: var(--tyrkis);
    color: var(--pink);
    box-shadow: -4px 4px 0 var(--dyblilla);
    padding-top: 2vw; /* Scales with viewport width */
    padding-bottom: 2vw; /* Scales with viewport width */
    width: 10vw;
    font-size: 2vw;
    margin-top: -80px;
}